@charset "utf-8";
/* 전체요소 */
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

h2 {
    font-weight: bold;
}

/*뉴스 페이지 헤더 부분*/
#news-detail-header {
    padding: 15px 0;
    position: relative;
}

#news-detail-header .btn-back {
    position: absolute;
    top: 15px;
    left: 10px;
    display: inline-block;
    background: url(../img/arrow-left.png) no-repeat;
    background-size: 23px auto;
    width: 23px;
    height: 23px;
    border: 0;
    box-shadow: none;
    text-indent: -1000px;
}



/* 뉴스 페이지 바디 부분 */


#news-detail-title .news-title {
    font-size: 14px;
    padding: 20px 15px;
    background: rgba(95, 0, 119, 0.05);
    font-weight: bold
}

#news-detail-title .cust-newsnt-time {
    float: right;
    padding: 5px 15px;
    border: 1px solid rgba(95, 0, 119, 0.8);
    color: rgba(95, 0, 119, 0.8);
    font-weight: bold;
    font-size: 13px;
    background: #fff;
}

#news-detail-body {
    padding: 15px;
}

.news-date,
.pull-left {
    font-size: 12px;
    color: #777;
}

.news-date {
    padding-right: 10px;
}

/*이벤트 본문 영역*/


#news-detail-img img {
    width: 100%;
}


#news-detail-text table td {
    text-align: left;
    width: 60%;
    
}



.news-date {
    padding-right: 10px;
}

/*뉴스 본문 영역*/
#news-detail-text {
    text-align: left;
    padding: 30px 10px;
    font-size:12px;
}


#news-detail-img img {
    width: 100%;
}




/* 댓글 입력창 */
#news-detail-reply-write {
    background: rgba(0, 0, 0, 0.05);
    padding: 40px 15px;
    display: flow-root;
}

#news-detail-reply-write .textarea-btn-wrap {
    margin: 15px 0 20px 0;
    display: flow-root;
}

#news-detail-reply-write textarea {
    width: 80%;
    height: 50px;
    border: 0;
    background: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    float: left;
    padding: 10px;
}

#news-detail-reply-write #reply-result {
    width: 100%;
    padding: 7px 0;
    border: 0;
    background: #5f0080;
    color: #fff;
    font-size: 13px;
    display: inline;
}

#news-detail-reply-write .btn-wrap {
    float: right;
    width: 18%;
    margin: 10px 0;
}




/*댓글 리스트 영역*/
#reply-list-all {
    color: #777;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#reply-list-all .reply-list-all-num {
    color: rgba(95, 0, 119, 0.5);
    font-weight: bold;
}

/* 댓글 리스트 각각 영역 */
#news-detail-reply-list li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 15px;
    display: flow-root
}

#news-detail-reply-list .reply-area {
    width: 90%;
}

#news-detail-reply-list .news-reply-userid {
    font-weight: bold;
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
}

#news-detail-reply-list .news-reply-txt {
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
}

#news-detail-reply-list .news-reply-date {
    font-size: 11px;
    color: #999;
}

#news-detail-reply-list .btn-area {
    width: 10%;
    text-align: right;
}

#news-detail-reply-list .news-reply-menu img {
    width: 15px;
    opacity: 0.3;
    display: inline-block;
    float: right;
    cursor: pointer;
}