@charset "utf-8";

/* 제목영역 */

#search-header span {
    color: #5f0080;
    font-weight: bold;
    font-size: 16px;
}


#search-header {
    padding: 15px 0;
}

/* 카테고리 탭메뉴*/

/** 대분류 카테고리 탭 메뉴 */
#q-pr-list .swiper-slide {
    text-align: center;
}

#search-title ul li a {
    background-color: #fff;
    border: none;
    font-size: 13px;

}

#search-title .nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    font-weight: bold;

}


#search-title ul li a {
    border: none;
    background-color: #fff;
    font-size: 13px;
}



#search-title .nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background: rgb(95,0,119);
    color: #fff;
    border-radius: 0;


}

#search-title .wid{
	width:25%;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: inline-flex;
    transition-property: transform;

}


#search-subtitle { display: flow-root; background: rgba(95, 0, 119, 0.05); padding: 15px 0; margin-bottom: 30px; font-size: 13px; }




#search-subtitle ul>li {
    line-height: 3;
    width: 33.3%;
    float: left;
    text-align: center;
    margin-bottom: 2%
}

#search-subtitle ul>li a {
    font-weight: 100;
    color: #000;
}

#search-subtitle ul>li a:focus,
#search-subtitle ul>li a:hover {
    color: #B487C3;
    font-weight: bold;
    text-decoration: none;
}

#search-subtitle ul>li {

    width: 25%;
    float: left;
    text-align: center;
    margin-bottom: 2%
}

 #search-subtitle ul>li a{ font-size:12px; }
#search-title .nav>li>a{ padding: 13px 5px; font-size: 12px;}

/* 카테고리 탭 메뉴 끝 */

/* 상단 탭메뉴 */







.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background: #fff;
    color: #5f0080;
    border: 1px solid #5f0080;
    font-weight: bold;
}

#pro-content-list-inner div ul {
    display: flow-root;
}







:root {
    --swiper-theme-color: #5f0080 !important;
}



/*베스트 섹션 여백 주기*/
#tab-btn {
    margin-bottom: 15px;
}




/*베스트 섹션 여백 주기*/
#tab-btn{ margin-bottom: 15px; }


/* 탭메뉴*/
#pro-content-list .nav>li{width:25%; }
#pro-content-list .nav-tabs{ border: 0; }
#pro-content-list .nav-tabs>li>a{ border-radius:0; background:rgba(0,0,0,0.03); padding:7px;  color: #555; font-size:12px; border: 0; padding: 10px 0; font-weight: 300;}
#pro-content-list .nav-tabs>li.active>a{ background:#5f0080; color:#fff; border:1px solid #5f0080; }
#pro-content-list .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{ background:#fff; color:#5f0080; border:1px solid #5f0080; font-weight: bold; }

#pro-content-list-inner div ul{ display: flow-root; }




