<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="OptionsMapper">


	<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
	<resultMap id="optionsMap"
		type="com.myncnc.ncnc.model.Options">
		<!-- Options 컬럼 -->
		<result property="opt_no" column="opt_no" />
		<result property="opt_name" column="opt_name" />
		<result property="ord_no" column="ord_no" />
		<result property="item_no" column="item_no" />
		<result property="opt_price" column="opt_price" />
		<result property="reg_date" column="reg_date" />
		<result property="edit_date" column="edit_date" />



	</resultMap>
	<!-- 단일행 조회를 위한 기능 정의 -->
	<select id="selectItem"
		parameterType="com.myncnc.ncnc.model.Options"
		resultMap="optionsMap">
		SELECT opt_no, opt_name, opt_price,
		o.reg_date, o.edit_date
		FROM options o
		WHERE opt_no=#{opt_no}


	</select>








</mapper>